@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,200;0,400;1,100&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;

}

nav.nav-container{
    background-color: aquamarine;
    height: 8vh;
}
nav.nav-container h3{
    margin-left: 42%;
    font-family: cursive;
    padding-top: 8px;
}

.input-section h2{
    font-family: cursive;
    text-align: center;
    margin: 6%;
}

.input-section input[type="text"] {
    width: 35%;
    height: 30px;
    margin-left: 28%;
    font-size: 101%;
}
.input-section button#search {
    background: paleturquoise;
    border: none;
    width: 85px;
    border-radius: 11px;
    height: 41px;
    box-shadow: 1px solid paleturquoise;
    font-family: cursive;
    font-size: 15px;
    margin-left: -8px;
    margin-top: -6px;
    cursor: pointer;

}

.input-section .horizontal{
    display: flex;
}

section.data p.def {
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    padding: 9%;
}


/* HTML DOMTokenList to the webpages*/
 .suggested{
     background: #8794F4;
     color:white;
     padding: 2px 10px;
     border-radius: 4px;
     margin-right: 10px;
     margin-top: 5px;
     display: inline-block;
     text-align: center;

}

.audio {
    text-align: center;
}


/* responsive for button */
@media (max-width: 650px) {
     .input-section button#search{
        width: 74px;
        height: 40px;
        border-radius: 11px;

     }

 }
