@import url('https://fonts.googleapis.com/css2?family=Abel&family=Poppins:ital,wght@0,200;0,400;1,100&display=swap');

*{
    margin: 0px;
    box-sizing: border-box;

}

nav.nav-container{
    background-color: aquamarine;
    height: 8vh;
}
nav.nav-container h3{
    margin-left: 42%;
    font-family: cursive;
    padding-top: 8px;
}

.input-section h2{
    font-family: cursive;
    text-align: center;
    margin: 6%;
}

.input-section input[type="text"] {
    width: 35%;
    height: 30px;
    margin-left: 28%;
    font-size: 101%;
}
.input-section button#mybutton {
    background: paleturquoise;
    border: none;
    width: 10%;
    height: 41px;
    box-shadow: 1px solid paleturquoise;
    font-family: cursive;
    font-size: 15px;
    margin-left: -8px;
    margin-top: -6px;

}

.input-section .horizontal{
    display: flex;
}

section.data p.def {
    text-align: center;
    font-size: 18px;
    font-family: cursive;
}